@use "../../../sass/abstract/" as *;

.main-chat-box {
  width: 100%;
  height: 100vh;
  padding: 10vh 0px;

  .inside-chat-box {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: white;
    display: flex;
    gap: 20px;
    border-radius: 20px;
    padding: 10px 10px;
    position: relative;
    overflow: hidden;

    @include xsBreakPoint {
      width: 90%;
    }
    @include smBreakPoint {
      width: 90%;
    }
    @include mdBreakPoint {
      width: 90%;
    }
    @include lgBreakPoint {
      width: 90%;
    }
    @include xlBreakPoint {
      width: 88%;
    }

    .left-chat-box {
      width: 30%;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      border-radius: 20px;
      padding: 10px 5px;
      position: relative;
      @include xsBreakPoint {
        display: none;
      }
      @include smBreakPoint {
        display: none;
      }
    }
    .right-chat-box {
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      width: 70%;
      border-radius: 20px;
      padding: 10px 20px;
      @include xsBreakPoint {
        width: 100%;
      }
      @include smBreakPoint {
        width: 100%;
      }
      .right-inside-chat-box {
        width: 100%;
        height: 100%;
        .top-header-section-chat {
          width: 100%;
          height: 12%;
          border: 2px solid #f4e7ff;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          background-color: white;
          border-radius: 5px;
          padding: 3px 10px;
        }
        .middle-section-chat {
          height: 75%;
          border: 2px solid #f4e7ff;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          background-color: white;
          border-radius: 5px;
          padding: 5px 10px;
          background-color: #f4e7ff;
          overflow-y: scroll;
          // overflow: hidden;
        }
        .bottom-header-section-chat {
          width: 100%;
          height: 13%;
          border: 2px solid #f4e7ff;
          box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
            rgba(17, 17, 26, 0.05) 0px 8px 32px;
          background-color: white;
          border-radius: 5px;
          padding: 5px 10px;
          display: flex;
          align-items: center;
          .logo-bottom {
            width: 12%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 2.1rem;
            @include xsBreakPoint {
              font-size: 0.867rem;
            }
            .box-emojies {
              position: absolute;
              top: -0vh;
              @include mdBreakPoint {
                top: 18%;
              }
              @include smBreakPoint {
                top: 18%;
                left: 6%;
              }
              @include xsBreakPoint {
                top: 18%;
                left: 1%;
              }
            }
          }
          .chat-bottom {
            width: 78%;
            padding-top: 2%;
            .chat-form {
              width: 98%;
              border: none;
              outline: none;
              padding: 13px 10px;
              border-radius: 10px;
              box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
            }
          }
          .send-bottom {
            width: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            .fa-paper-plane-top {
              font-size: 2rem;
              cursor: pointer;
              transition: 0.2s;
              @include xsBreakPoint {
                font-size: 1rem;
              }
            }
            .fa-paper-plane-top:hover {
              transform: rotate(-20deg);
              color: orangered;
              transition: 0.2s;
            }
          }
        }
      }
    }
  }
}
.login-texts {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.chat-form {
  width: 100%;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  background-color: white;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 10px;
}

.login-button {
  width: 75%;
  padding: 10px;
  cursor: pointer;
  background-color: orange;
  outline: none;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
}

.input-box-otp {
  width: 90px !important;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

// header section

.avatar-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.avatar-images {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.user-name-texts {
  font-size: 1.2rem;
  font-weight: 600;
}

.date-texts {
  font-size: 0.779rem;
  color: #868686;
}

// sidebar
.sidebar-card {
  width: 100%;
  padding: 10px 10px;
  background-color: #f4e7ff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  border: 2px solid orangered;
}

.sidebar-card-active {
  border: 2px solid blue;
}

// .sender-message {
//   width: 140px;
//   border-radius: 10px;
//   position: relative;
//   float: right;
//   flex-wrap: wrap;
//   text-wrap: wrap;
//   padding: 8px 10px;
//   margin-right: 12px;
//   background-color: white;
//   box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
//     rgba(0, 0, 0, 0.05) 0px 5px 10px;
//   position: absolute;
// }

.sender-message {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0px;
  width: auto;
  flex-wrap: wrap;
  text-wrap: wrap;
  padding: 8px 10px;
  margin-right: 12px;
}
.receiver-message {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0px;
}

.sender-messagess {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 2px 0px;
  width: auto;
  position: relative;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  padding: 15px 70px 15px 20px;
  border-radius: 10px;
}
.receiver-messages {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0px;
  padding: 5px 20px;
  border-top-right-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  padding: 15px 70px 15px 20px;
  border-radius: 10px;
  background-color: white;
  flex-direction: column;
  width: auto;
  position: relative;
}

.avatar-image-chat {
  position: absolute;
  top: -6px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  right: -3%;
  border: 2px solid green;
  cursor: pointer;
}

.time-text {
  font-size: 0.989rem;
  padding-top: 4%;
  color: #868686;
  text-align: end;
  display: flex;
  justify-content: flex-end;
}

.avatar-image-chats {
  position: absolute;
  top: -10%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: -2%;
  object-fit: cover;
  border: 2px solid orangered;
  cursor: pointer;
}

.help-box {
  width: 100%;
  height: 50%;
  padding: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14vh;
  border-radius: 10px;
  cursor: pointer;
  // background-color: #fff2e3;
}

.user-image {
  width: 100%;
  height: 100px;
  object-fit: contain;
  position: absolute;
  top: 52%;
  left: -2%;
  transform: translateY(-50%, -50%);
}

.hire-me-btn {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  background-color: orange;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  text-align: center;
  margin-left: 8%;
}
.hire-me-btns {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  background-color: orange;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 8%;
}
.avatar-imagess {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-chat-box-bodyss {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 10%;
}
